
/* Header */
.header{ 
  background-color: rgb(43,45,66);
  display: inline
}
.header img{
  width: 1000px;
  padding:15px;
}

.header a{
  color:black
}
.header ul{
  list-style: none;
  display: flex;
}
.header li{
  margin: 15px;
}

.header a:hover, .footer a:hover{
  color:red;
  text-decoration: none;
 }
 
 /* Footer */
.footer ul{ 
  display: flex;
  list-style: none;
  width: 450px;
  margin: 0 auto;
  justify-content: center;
}

main{
  min-height: 80vh;
}

 
nav {
    font-style: italic;
    font-weight: bolder;
    font-family:sans-serif;
    text-align: center;
    display: inline;
    }
    ul {
      list-style-type: none;
      font-size: none;
    }
    
    li{
        display: inline;
        width: 25%;
        position: relative;
        font-size: 40px;
    }
    
    p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1.26;
        background-color: rgb(113, 16, 16);
        font-size:xx-large
    }
    
    body {
        
        background-repeat: repeat;
        background-color: rgb(43,45,66);
      }
    

    .grid-container { 
      max-width: 2500px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3,1fr) ;
      align-items: center ;
      justify-content: center;
      justify-items: center;
      grid-row-gap: 15px;
    }

    .grid-container img {
      width: 300px;
    }

    .grid-container div {
      overflow: hidden;
    }
      
@media (max-width: 800px) {
  .header{
    flex-direction: column;
}
.header img{
width: 100%;
margin: 10px
  }
.header li{
  font-size: medium;
  flex-direction: row;
}
.footer{
   font-size: medium;
  }
.grid-container{
    display:grid;
    grid-template-columns: repeat(2,1fr)
}
.grid-container img {
  width: 200px;
}
}